data/projects.json
/backup
/logs/

Byte-compiled / optimized / DLL files
pycache/
*.py[cod]
*$py.class

Virtual environment
.env/
.venv/
.evt.test
env/
venv/
ENV/
env.bak/
venv.bak/

PyInstaller
*.manifest
.spec

Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

Jupyter Notebook
.ipynb_checkpoints

mypy
.mypy_cache/
.dmypy.json
dmypy.json

Pyre type checker
.pyre/

Pyright type checker
.pyright/

VS Code
.vscode/
.history/

JetBrains IDEs
.idea/
*.iml

macOS
.DS_Store

Windows
Thumbs.db
ehthumbs.db
Desktop.ini

Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
MANIFEST

pipenv
Pipfile.lock

Poetry
poetry.lock

pyenv
.python-version

Local .env files
*.env

Other
*.log